<!DOCTYPE html>
<html>
<head th:replace="index :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<header th:replace="index :: header" class="header"></header>

<div class="container-general">

	<div class="container-general">
		<!-- Films -->
		<div class="main movies-rows">
			<h1 class="list-title">Películas</h1>
			<div class="slider responsive">
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img1.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img2.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img3.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img4.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img5.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img6.jpg">
					</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
	
<footer th:replace="index :: footer" class="footer"></footer>
</body>
<!-- Scripts Slider JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/slider.js"></script>
</html>