<!DOCTYPE html>
<html>
<head th:replace="index :: head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
<link
	href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
	rel="stylesheet" />
<style>
form .invalid-feedback {
	display: block;
}
</style>
</head>
<body>
<header th:replace="index :: header" class="header"></header>

<div class="container-general">

	<div class="container-general">
		<!-- Films -->
		<div class="main movies-rows">
			<h1 class="list-title">Películas</h1>
			<div class="slider responsive">
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img1.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img2.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img3.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img4.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img5.jpg">
					</h3>
				</div>
				<div class="card">
					<h3>
						<img src="../img/portadas/recommed/img6.jpg">
					</h3>
				</div>
			</div>
		</div>
	</div>
	</div>
	
<footer th:replace="index :: footer" class="footer"></footer>
</body>
<!-- Scripts Slider JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/slider.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
		
<div layout:fragment="scripts" th:remove="tag"></div>
</html>