<!DOCTYPE html>
<html lang="es" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/index :: head">
<meta charset="UTF-8">
<title>Agregar Películas</title>
</head>
<body>
	<header th:replace="admin/index :: header" class="header"></header>
	<div class="container-general">
		<div layout:fragment="content">
<h1 class="list-title">Registrar Películas</h1>
		<div layout:fragment="form">
			<br>
			<form action="" method="post" th:object="${pelicula}"
				enctype="multipart/form-data">
				<div class="form-group">
					<label for="nombre" class="form-label">Titulo : </label> <input
						type="text" id="nombre" placeholder="Digite el titulo"
						class="form-control" th:field="*{nombre}">
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
				</div>
				<div class="mb-3">
					<label for="descripcionGeneral" class="form-label">Descripción
						: </label>
					<textarea id="descripcionGeneral" placeholder="Digite la sinopsis"
						class="form-control" th:field="*{descripcionGeneral}"></textarea>
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('descripcionGeneral')}"
						th:errors="*{descripcionGeneral}"></div>
				</div>
				<div class="form-group">
					<label for="pgeneral" class="form-label">Publico General : </label> <input
						type="text" id="pgeneral" placeholder="Digite el Publico en General"
						class="form-control" th:field="*{pgeneral}">
					<div class="invalid-feedback"
						th:if="${#fields.hasErrors('pgeneral')}" th:errors="*{pgeneral}"></div>
				</div>
				<div class="mb-3">
					<label for="fechaEstreno" class="form-label">Fecha de
						estreno : </label> 
<!-- 						<input type="date" id="fechaEstreno" -->
<!-- 						placeholder="Digite la fecha de estreno" class="form-control" -->
<!-- 						name="fechaEstreno"> -->
									<input type="date" id="fechaEstreno" placeholder="Digite la fecha de estreno" class="form-control" th:field="*{fechaEstreno}">
									<div class="invalid-feedback" th:if="${#fields.hasErrors('fechaEstreno')}" th:errors="*{fechaEstreno}"></div>
				</div>
				<div class="mb-3">
					<label for="youtubeTrailerId" class="form-label">Contenido Trailer ID : </label>
					<input type="text" id="youtubeTrailerId"
						placeholder="Digite el Youtube Trailer ID" class="form-control"
						name="youtubeTrailerId">
					<!-- 				<input type="text" id="youtubeTrailerId" placeholder="Digite el Youtube Trailer ID" class="form-control" th:field="*{youtubeTrailerId}"> -->
					<!-- 				<div class="invalid-feedback" th:if="${#fields.hasErrors('youtubeTrailerId')}" th:errors="*{youtubeTrailerId}"></div> -->
				</div>
				<div class="mb-3">
					<label for="portada" class="form-label">Portada : </label>
					<input type="file" name="portada" id="portad" class="form-control">
					<!-- 				<input type="file" name="portada" id="portad" class="form-control" th:field="*{portada}"> -->
					<!-- 				<div class="invalid-feedback" th:if="${#fields.hasErrors('portada')}" th:errors="*{portada}"></div> -->
				</div>
				<div class="mb-3">
					<label for="generos" class="form-label">Genero : </label>
					<!-- 				<select id="generos" class="form-control" th:field="*{generos}" multiple> -->
					<select id="generos" class="form-control" name="generos" multiple>
						<option th:each="genero : ${generos}" th:value="${genero.id}"
							th:text="${genero.tipo}"></option>
					</select>
					<!-- 				<div class="invalid-feedback" th:if="${#fields.hasErrors('generos')}" th:errors="*{generos}"></div> -->
				</div>

				<div class="text-end">
					<button type="submit" class="btn btn-primary">Guardar</button>
				</div>
			</form>
		</div>
	</div>

	<footer th:replace="admin/index :: footer" class="footer"></footer>
</body>
<!-- Scripts Slider JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<script src="../js/script.js"></script>
<script src="../js/scroll.js"></script>
<script src="../js/slider.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<div layout:fragment="scripts" th:remove="tag"></div>
</html>